:root {
  --primary: #333;
  --secondary: #555;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  text-decoration: none;
}

body {
  font-family: Helvetica, Arial, Sans-Serif;
  font-size: 16px;
  line-height: 1.8;
}

#navbar {
  position: relative;
  width: 100%;
}

#navbar header {
  font-size: 2.5em;
  text-align: center;
  padding: 10px;
}

#navbar ul {
  width: 100%;
  height: 100%;
  border: 2px solid var(--primary);
  list-style: none;
}

#navbar ul li {
  border-bottom: 1px solid var(--secondary);
  padding: 10px 10px 10px 40px;
}

#navbar ul li:last-child {
  border: none;
}

#navbar ul li a {
  color: var(--primary);
}

#navbar ul li a:hover {
  text-decoration: underline;
}

#main-doc {
  padding: 16px;
}

.main-section header {
  font-size: 2em;
}

article {
  padding-left: 16px;
}

p {
  color: var(--secondary);
  margin: 10px 0px;
}

code {
  display: block;
  margin: 16px 0px;
  padding: 10px 20px;
  background: #eef;
  color: blue;
}

article ul {
  padding-left: 16px;
  list-style: circle;
}

article ul li {
  color: var(--secondary);
  margin: 10px 0px;
}

@media only screen and (min-width: 1024px) {
  #navbar {
    position: fixed;
    width: 300px;
    height: 100vh;
    overflow: hidden;
    border-right: 3px solid var(--secondary);
    background: #fff;
  }

  #navbar ul {
    border-right: none;
  }

  #navbar ul li:last-child {
    border-bottom: 1px solid var(--secondary);
  }

  #main-doc {
    max-width: 800px;
    margin-left: 300px;
  }
}
